/*@font-face {
    font-family: robotolight;    
    src: url(https://www.fonts-online.ru/sites/all/themes/fontsonline/bower_components/mdi/fonts/materialdesignicons-webfont.woff2?v=1.7.22) format('woff2');
    font-weight: 400;
    font-style: normal
}*/

html,body{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;

	h1{
	    text-align: center;
	}


	ul#list{
        padding: 1rem;
	    list-style-type: none;
        max-width: 1000px;
    	margin: 0 auto;

    	li{
		    display: flex;
	        padding: 1rem;
		    margin-bottom: 1rem;
		    background: #e2e2e2;

		    .image{
	    	    max-width: 10rem;
    			max-height: 10rem;
		    }

		    .desc{
	    	    margin-left: 1rem;
	    	    display: flex;
			    flex-direction: column;
		        justify-content: space-between;
			    align-items: stretch;

	    	    .name{
    	    	    font-size: 2rem;
	    	    }

	    	    .status{	    	    	
				    line-height: 2rem;
				    font-size: 1.5rem;

				    &:after{
				    	content: '';
					    width: 100%;
					    height: 1px;
					    display: block;
					    position: relative;
					    top: -3rem;
					    background: #a5a5a5;
				    }
	    	    }

	    	    .time{
    	    	    color: #7b7b7b;
	    	    }
		    }		    
    	}
	}
}